body {
    padding-top: 60px;
}
section {
    overflow: auto;
}
textarea {
    resize: vertical;
}
.jumbotron {
    text-align: center;
}

#logout {
    cursor: default;
}
#logout:hover {
    background-color: transparent;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}
h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}
h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}
p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-decoration: none;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}
#logo:hover {
    color: #fff;
}

/* sidebar */
aside section {
    padding: 10px 0;
    margin-top: 20px;
}
aside:first-child {
    border: 0;
    padding-top: 0;
}
aside span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
}
section.user_info {
    padding-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}
section.user_info .gravatar {
    float: none;
    max-width: 70px;
}
section.user_info h1 {
    font-size: 1.4em;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 15px;
}
.gravatar {
    float: left;
    margin-right: 10px;
    max-width: 50px;
    border-radius: 50%;
}

/* forms */
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
}
input {
    height: auto !important;
}
.panel {
    margin-top: 50px;
}

.gravatar_edit {
    margin: 15px auto;
    text-align: center;
}
.gravatar_edit .gravatar {
    float: none;
    max-width: 100px;
}

.form-group button {
    margin-top: 10px;
}

.users {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.users li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
}

.delete-btn {
    float: right;
    position: relative;
    right: 0;
}

.alert-status {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.alert-status:focus,
.alert-status.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85;
}
.alert-status:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.alert-status:active,
.alert-status.active,
.open > .dropdown-toggle.alert-status {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.alert-status:active:hover,
.alert-status.active:hover,
.open > .dropdown-toggle.alert-status:hover,
.alert-status:active:focus,
.alert-status.active:focus,
.open > .dropdown-toggle.alert-status:focus,
.alert-status:active.focus,
.alert-status.active.focus,
.open > .dropdown-toggle.alert-status.focus {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85;
}
.alert-status:active,
.alert-status.active,
.open > .dropdown-toggle.alert-status {
    background-image: none;
}
.alert-status.disabled,
.alert-status[disabled],
fieldset[disabled] .alert-status,
.alert-status.disabled:hover,
.alert-status[disabled]:hover,
fieldset[disabled] .alert-status:hover,
.alert-status.disabled:focus,
.alert-status[disabled]:focus,
fieldset[disabled] .alert-status:focus,
.alert-status.disabled.focus,
.alert-status[disabled].focus,
fieldset[disabled] .alert-status.focus,
.alert-status.disabled:active,
.alert-status[disabled]:active,
fieldset[disabled] .alert-status:active,
.alert-status.disabled.active,
.alert-status[disabled].active,
fieldset[disabled] .alert-status.active {
    background-color: #5bc0de;
    border-color: #46b8da;
}
.alert-status .badge {
    color: #5bc0de;
    background-color: #fff;
}

.statuses {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
.statuses form button .status-delete-btn {
    position: absolute;
    right: 0;
    top: 10px;
}
.statuses li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    position: relative;
}
.statuses .user {
    margin-top: 5em;
    padding-top: 0;
}
.statuses .content {
    display: block;
    margin-left: 60px;
    word-break: normal;
}
.statuses .content img {
    display: block;
    padding: 5px 0;
}
.statuses .timestamp {
    color: gray;
    display: block;
    margin-left: 60px;
}
.statuses .gravatar {
    margin-right: 10px;
    margin-top: 5px;
}

aside textarea {
    height: 100px;
    margin-bottom: 5px;
}

.status_form button {
    margin-top: 20px;
}
.statuses li form .status-delete-btn {
    float: right;
    position: absolute;
    right: 0;
    top: 10px;
}

.stats {
    overflow: auto;
    margin-top: 0;
    padding: 0;
}
.stats a {
    float: left;
    padding: 0 10px;
    text-align: center;
    width: 33%;
    border-left: 1px solid gray;
    color: gray;
}
.stats a:first-child {
    padding-left: 0;
    border: 0;
}
.stats a:hover {
    text-decoration: none;
    color: #337ab7;
}
.stats strong {
    display: block;
    font-size: 1.2em;
    color: black;
}

.user_avatars {
    overflow: auto;
    margin-top: 10px;
}
.user_avatars .gravatar {
    margin: 1px 1px;
}
.user_avatars a {
    padding: 0;
}

.users.follow {
    padding: 0;
}

/* forms */
#follow_form button {
    margin: 0 auto;
    display: block;
    margin-top: 25px;
}
